# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data
collection.tsv
2019qrels-pass.txt
2019qrels-pass-filtered.txt
queries.train.tsv
qrels.train.tsv
models/
ranklib-features/
collections/
runs/
indexes/

# Binaries
RankLib.jar

# Environments
venv/

# IDE
.idea/
