# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

wiki-news-300d-1M-subword.bin
wiki-news-300d-1M.vec


# Data
collection.tsv
2019qrels-pass.txt
2019qrels-pass-filtered.txt
queries.train.tsv
qrels.train.tsv
models/
ranklib-features/
collections/
runs/
indexes/

# Binaries
RankLib.jar

# Environments
venv/

# IDE
.idea/
